fastapi
uvicorn[standard]
pydantic
python-dotenv
python-multipart
httpx
requests
ddgs
langchain
langchain-core
langchain-community
langgraph
langchain-huggingface
langchain-text-splitters
langchain-chroma
pypdf
sentence-transformers
chromadb